@page "/"
@using TreeStructure.Services

@inject NodeService NodeService
@inject ILogger<Index> Logger
@inject IDialogService DialogService

<Buttons
    OnDeleteAll="@(() => { NodeService.DeleteAllNodes(); _treeReference.Refresh(); })"
    OnSampleData="@(() => { NodeService.DeleteAllNodes(); NodeService.Seed(); _treeReference.Refresh(); })"
    OnAddRoot="@OnAddRoot"/>

<div class="my-4 p-4 container rounded shadow">
    <MudSelect @bind-Value="_sort" Label="Selected sorting:"
               OpenIcon="@Icons.Material.Filled.Sort" AdornmentColor="Color.Secondary">
        @foreach (NodeService.Sort sort in Enum.GetValues(typeof(NodeService.Sort)))
        {
            <MudSelectItem Value="@sort">@sort</MudSelectItem>
        }
    </MudSelect>
</div>

<CascadingValue Value="_sort">
    <TreeViewFrame @ref="_treeReference"/>
</CascadingValue>

@code {

    TreeViewFrame _treeReference = null!;

    NodeService.Sort _sort;

    async Task OnAddRoot()
    {
        var dialog = DialogService.Show<AddNodeDialog>("Add root node");

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            _treeReference.Refresh();
        }
    }

}