@using TreeStructure.Services
@inject NodeService NodeService

<li style="list-style-type: none">
    <!-- TODO: Fix this warnings -->
    <TreeItem Text="@Node.Name"
              Id="@((int)Node.Id)"
              OnCollapse="@(() => IsCollapsed = true)"
              OnExpand="@(() => IsCollapsed = false)"
              OnDelete="@OnDelete"
              OnEdit="@(() => OnEdit.InvokeAsync(Node))"
              IsCollapsed="@IsCollapsed"/>
    @if (GetSortedChildren() is var children && children.Any() && !IsCollapsed)
    {
        <ol>
            @foreach (var child in children)
            {
                <Tree
                    Node="@child"
                    OnEdit="@OnEdit"
                    OnConfirmDelete="@OnConfirmDelete"
                    SortAscending="@SortAscending"
                    SortDescending="@SortDescending"/>
            }
        </ol>
    }
</li>

@code {

    [Parameter]
    public Node Node { get; set; }

    [Parameter]
    public bool IsCollapsed { get; set; } = true;

    [Parameter]
    public EventCallback<Node> OnEdit { get; set; }

    [Parameter]
    public EventCallback<Node> OnConfirmDelete { get; set; }

    [Parameter]
    public bool SortAscending { get; set; }

    [Parameter]
    public bool SortDescending { get; set; }

    bool _showEditDialog = false;

    List<Node> GetSortedChildren()
    {
        var children = NodeService.GetChildren((int)Node.Id);

        return (SortAscending, SortDescending) switch {
            (true, false) => children.OrderBy(x => x.Name).ToList(),
            (false, true) => children.OrderByDescending(x => x.Name).ToList(),
            (false, false) or (true, true) => children };
    }

    void OnDelete()
    {
        var hasChildren = NodeService.GetChildren((int)Node.Id).Any();

        if (hasChildren)
        {
            OnConfirmDelete.InvokeAsync(Node);
        }
        else
        {
            NodeService.DeleteNodeWithChildren(Node);
            StateHasChanged();
        }
            
    }

}