@using TreeStructure.Services
@inject NodeService NodeService

<div class="border rounded mt-2 p-2 d-flex align-items-center">
    <div class="p-1">
        @if (CanBeExpanded)
        {
            @if (IsCollapsed)
            {
                <a @onclick="@OnExpand">
                    <img src="img/expand.svg" alt="expand"/>
                </a>
            }
            else
            {
                <a @onclick="@OnCollapse">
                    <img src="img/collapse.svg" alt="collapse"/>
                </a>
            }
        }
        else
        {
            <img src="img/expand.svg" alt="expand" style="opacity: 0.25;"/>
        }
    </div>
    <div class="p-1" @ondblclick="@(() => _showRenameDialog = true)">
        <span>@NodeService.GetName(NodeId)</span>
    </div>
    <div class="p-1">
        <span class="text-muted">#@NodeId</span>
    </div>
    <div class="flex-grow-1"></div>
    <div class="p-1">
        <a @onclick="@(() => _showAddDialog = true)">
            <img src="img/add.svg" alt="add"/>
        </a>
    </div>
    <div class="p-1">
        <a @onclick="@(() => _showRenameDialog = true)">
            <img src="img/edit.svg" alt="edit"/>
        </a>
    </div>
    <div class="p-1">
        <a @onclick="@OnMove">
            <img src="img/move.svg" alt="move"/>
        </a>
    </div>
    <div class="p-1">
        <a @onclick="@OnDelete">
            <img src="img/delete.svg" alt="delete"/>
        </a>
    </div>
</div>

@if (_showAddDialog)
{
    <TextFormDialog ConfirmButtonText="Add"
                    LabelText="Enter name for new node"
                    OnCancel="@(() => _showAddDialog = false)"
                    OnConfirm="@OnAdd">
        <Title>
            Add child node to:
            <span class="text-primary">@NodeService.GetName(NodeId)</span>
            <span class="text-muted">#@NodeId</span>
        </Title>
    </TextFormDialog>
}

@if (_showRenameDialog)
{
    <TextFormDialog ConfirmButtonText="Rename"
                    LabelText="Enter new name for node"
                    PlaceholderText="@NodeService.GetName(NodeId)"
                    OnCancel="@(() => _showRenameDialog = false)"
                    OnConfirm="@OnRename">
        <Title>
            Rename node:
            <span class="text-primary">@NodeService.GetName(NodeId)</span>
            <span class="text-muted">#@NodeId</span>
        </Title>
    </TextFormDialog>
}

@code {

    [Parameter]
    public int NodeId { get; set; }

    [Parameter]
    public bool IsCollapsed { get; set; }

    [Parameter]
    public bool CanBeExpanded { get; set; } = true;

    [Parameter]
    public EventCallback OnExpand { get; set; }

    [Parameter]
    public EventCallback OnCollapse { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    [Parameter]
    public EventCallback OnMove { get; set; }

    [Parameter]
    [EditorRequired]
    public Tree ParentTree { get; set; } = null!;

    bool _showAddDialog;

    bool _showRenameDialog;

    void OnAdd(string name)
    {
        _showAddDialog = false;
        var node = new Node { Name = name, ParentId = NodeId };
        NodeService.AddNode(node);
        ParentTree.Refresh();
    }

    private void OnRename(string name)
    {
        _showRenameDialog = false;
        NodeService.RenameNode(NodeId, name);
    }

}